<link rel="stylesheet" href="../../css/main.css">
<div class="container tracks-index">
  <h1>Records</h1>
  <div class="row">
    <% tracks.forEach((track) => { %>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <iframe class="thumbnail" src="https://www.youtube.com/embed/<%= track.link %>?rel=0&amp;controls=0&amp;showinfo=0" alt="<%= track.name %>" id="imgUser"></iframe>
        <h2><%= track.name %></h2>
        <p>
          <%= track.artist %><br>
          <a href="<%= track.link %>" target="_blank">Watch video</a>
        </p>
        <small>Added by: <%= track.createdBy.username %></small>
      </div>
    <% }) %>
  </div>
</div>
<%#
LINK POSTING FUNCTIONALITY

trackSchema
.path('trackId')
.set(function(v) {
const matches = v.match(/(?<=tracks\/)(.*?)(?=&)/)
if (matches.length) {
this.trackId = matches[0]
}
}); %>
